<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/images/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css">

    <title>Eat-Da-Burger!</title>
</head>

<body>
    <header>
        <img src="./assets/images/burger.png" alt="" srcset="">
        <h1 id="title">Eat-Da-Burger!</h1>
    </header>

    {{{body}}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./assets/js/index.js"></script>
</body>

</html>