<form action="/" method="POST">
    <textarea name="burger-name" id="burger-name"></textarea>
    <button type="submit">Add Burger!</button>
</form>

<div class="container">
    <ol>
        <h2>Burgers Devoured</h2>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{this.name}}</li>
        {{/if}}
        {{/each}}
    </ol>

    <ol>
        <h2>Burgers Waiting</h2>
        {{#each burgers}}
        {{#unless devoured}}
        <li>{{this.name}}</li>
        <button class="btn devour-btn">Devour!</button>
        {{/unless}}
        {{/each}}
    </ol>
</div>