<form action="/" method="POST">
    <textarea name="burger-name" id="burger-name"></textarea>
    <button type="submit">Add Burger!</button>
</form>

<div class="container">
    <h2>Burgers Devoured</h2>
    <ol>
        {{#each burgers}}
        {{#if devoured}}
        <li>{{this.name}}</li>
        {{/if}}
        {{/each}}
    </ol>

    <h2>Burgers Waiting</h2>
    <ol>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </ol>
</div>